#services {
  nav {
    display: flex;
    justify-content: center;

    ul {
      flex-direction: column;

      li {
        border-left: none;

        a {
          padding: 0 0.85rem 0 (0.7rem + _font(letter-spacing));
        }
      }
    }
  }
}
