.card {
  transform: translateY(0.25rem);
  transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
  padding: 4.5rem 2.5rem 1.5rem;
  background-color: rgba(27, 31, 34, 0.85);
  border-radius: 4px;
}
